@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import 'variables';

@import 'navbar';
@import 'footer';

// index.html
@import 'indexEstudio';
@import 'indexAreas';
@import 'indexContacto';

// estudio.html
@import 'nuestroEstudio';

// areas.html
@import 'areasDePractica';
